* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #0077c8;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
}

.oculus-light,
.oculus-dark {
  background: url("https://m.media-amazon.com/images/I/615YaAiA-ML._SL1500_.jpg");
  background-size: cover;
  flex: 1;
  display: grid;
  place-items: center;
  transition: all ease 2s;
  font-weight: bold;
}

.oculus-light button {
  border: 2px solid black;
  transition: all ease 1s;
}

.oculus-light:hover,
.oculus-dark:hover {
  flex: 2;
}

.oculus-dark {
  background: url("https://i.ytimg.com/vi/3vPz9KFXWTk/maxresdefault.jpg");
  color: white;
}

button {
  font-size: 16px;
  padding: 1em 2em;
  cursor: pointer;
  background: transparent;
}

.oculus-dark button {
  border: 2px solid white;
  color: white;
  transition: all ease 1s;
}

.oculus-light button:hover {
  background: black;
  color: white;
}

.oculus-dark button:hover {
  background: white;
  color: black;
}
