* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  display: grid;
  place-items: center;
  height: 100vh;
}

.loader {
  width: 20px;
  height: 20px;
  background: transparent;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  display: block;
  border: 50px solid transparent;
  border-right-color: white;
  animation: rotateA 2s linear infinite 0.5s;
}

.loader::before {
  animation: rotateB 2s linear infinite;
  transform: rotate(90deg);
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }
  50%,
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
