@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
  font-family: "Roboto";
}

.container {
  background-color: white;
  width: 500px;
  height: max-content;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.progress {
  background: rgb(249 67 164);
  width: 0;
  height: 5px;
  animation: expand 10s linear infinite;
}

.icon svg {
  width: 20px;
  fill: rgb(249 67 164);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  backdrop-filter: blur(3px);
  padding: 2em;
  height: calc(100% - 10px);
}

.text {
  background: white;
  color: black;
  padding: 1em;
  width: 75%;
}

.name {
  color: white;
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
